@model CommuneLetters.Models.Client

@{
    ViewData["Title"] = "AddClient";
}
<section class="meat">
<h1>Hello!</h1>

<h4>Tell Us about yourself</h4>
<hr />
<div class="row">
    <div class="fill">
        <form asp-action="AddClient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label"></label>
                <input placeholder="Your name" asp-for="Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label"></label>
                <textarea placeholder="Tell us about yourself" asp-for="Essay" rows="10" cols="40" spellcheck="true"></textarea>
                <span asp-validation-for="Essay" class="Essay"></span>
            </div>
            <div class="form-group">
           
                <input id="checkout-button" type="submit" value="Payment" class="submit" />

            </div>
        </form>
    </div>
</div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
