@model IEnumerable<CommuneLetters.Models.Client>

@{
    ViewData["Title"] = "CIndex";
}
<section class="meat">
<div class="list">
<h2>List of Clients</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <!--@Html.ActionLink("Edit", "Edit", new {  id=item.Name }, new { @class = "submit" }) |-->
                
                @Html.ActionLink("Details", "Details", new {  id=item.Name }, new { @class = "login-enter" }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Name }, new { @class = "login-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
 </section>
