@model CommuneLetters.Models.Client

@{
    ViewData["Title"] = "Delete";
}
<section class="meat">
<h1>Delete</h1>

<h3 class="del-h3">Are you sure you want to delete this client?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "big">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "big">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "big">
            @Html.DisplayNameFor(model => model.Essay)
        </dt>
        <dd class = "big">
            @Html.DisplayFor(model => model.Essay)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="login-danger" /> |
        <a asp-action="CIndex">Back to List</a>
    </form>
</div>
</section>