<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CommuneLetters</title>
    <link rel="stylesheet" href="~/css/MySheet.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">

</head>
<body>
    <section class="page">
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/sample.png"/></a>
                <div class="nav-links">
                    <a asp-controller="Admin" asp-action="Login">Admin</a>
                </div>
        </nav>
    </section>
   
    <!--Data on page-->
    
    <section>
            <main>
                @RenderBody()
            </main>
    </section>

        <footer class="border-top footer text-muted">
            <div>
                &copy; 2021 - CommuneLetters - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                &nbsp;&nbsp;<a asp-area="" asp-controller="Home" asp-action="Faqs">FAQS</a>

            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
</body>
</html>
