
@{
    ViewData["Title"] = "FAQs";
}

<h1>@ViewData["Title"]</h1>
<h4>How is my information used</h4>
<p>It is only used to get to know you better so your letter is personalized</p>

<h4>Can I create a profile</h4>
<p>Because we only use your data and for corresponance then delete is, a profile is not possible at this time</p>

<h4>How often will I get a letter</h4>
<p>It depends on the payment option you choose.</p>

<h4>Is there a reccuring option</h4>
<p>Because we do not store your data, at this time it is not an option.</p>


