
@{
    ViewData["Title"] = "Payment";
}

<h1>@ViewData["Title"]</h1>

<p><b>Please enter payment information</b></p>
<form>
    <ul>
        <li>Email</li>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Address</li>
        <li>city</li>
        <li>state</li>
        <li>zip code</li>

    </ul>
</form>

