
@{
    ViewData["Title"] = "Let us get to know you";
}

<h3>@ViewData["Title"]</h3>&nbsp;&nbsp;&nbsp;

<form>
    <!--Add styling-->
    <div class="form-group">
        <label for="=Name">What would you like us to call you?</label>
        <input name="Name" type="text" />
    </div>&nbsp;
    
    <div class="form-group">
        <p>Tell us a little about yourself</p>
        <textarea name="Essay" rows="10" cols="80"></textarea>
    </div>

    <div>
        <input type="button" value="Payment" onclick="myPayment()" />
        <script>
            function myPayment() {
                window.location="/user/Payment"
            }
        </script>
   
    </div>

</form>

