@{
    ViewData["Title"] = "Home Page";
}
    <body>
        <style>

            body {
                background-color: mintcream
            }

            h1 {
                color: black;
                text-align: center;
            }

            h2 {
                color: black;
                text-align: center
            }

            p {
                color: black;
                font-size: larger;
                text-align: center
            }
        </style>

        <h1><em>Welcome,</em></h1>
        <h2><em>glad to have you.</em></h2>


        <p>People were not ment to be alone.</p>

        <p>Here I try in my small way to help.</p>
        
        <input type="button" value="Click here" onclick="myRedirect()" />

        <script>
    function myRedirect() {
        window.location ="/User/PersonInfo"
    }
        </script>
    </body>