
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome!</h1>
<nav><a asp-area="" asp-controller="Admin" asp-action="Login">Admin</a></nav>

<p>Im sure you are wondering what we are about.</p>

<a asp-area="" asp-controller="Client" asp-action="AddClient">Click here to begin</a>

