
@{
    ViewData["Title"] = "Success";
}


    <section class="meat">
        <h2 class="lighttext">
            We appreciate your business! If you have any questions, Please read our Frequently asked page.<br />
            please email
            <a href="mailto:orders@example.com">orders@example.com</a>.
        </h2>
    </section>


